@font-face {
  font-family: '[set]Foundicons';
  src: url('fonts/general_foundicons.eot');
  src: url('fonts/general_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/general_foundicons.woff') format('woff'),
       url('fonts/general_foundicons.ttf') format('truetype'),
       url('fonts/general_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
 
[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}